*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~
*#*
*.lock
*.bak
*.log
*.iml
target
**/target
**/*.iml
common/target/
server/target/
DBApp-RC/target
branding/target
application/target
.idea
*.iml
**/nbactions-netbeans-ide.xml
**/nbactions.xml
**/.directory
wiki/
pages/
release.sh